<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shadow & Outline</title>
    <style>
        .box {
            border: 2px solid black;
            padding: 24px;
            box-shadow: 1px 16px 5px #79d270;
        }
        /* box-shadow : h-offset v-offset blur spread color inset/outset */

        .text-shadow{
            text-shadow: 2px 2px 4px #a31515;
            outline: 2px solid green;
            outline-offset: 15px;
            /* border: 2px solid red; */
        }
        /* text-shadow : h-offset v-offset blur color; */

        /* outline: width style color; */
    </style>
</head>
<body>

    <div class="box">I am a box</div>
    <p class="text-shadow">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus ullam doloribus a incidunt error, autem voluptatum laudantium culpa. Consequatur molestias consequuntur veniam officiis, sapiente deserunt atque harum! Ratione, illum facere possimus temporibus rem atque labore accusamus laboriosam voluptas voluptate iusto, perspiciatis laudantium ipsam autem maiores.</p>



    <!-- Differences between Outlines and Borders:
While both can visually appear similar, outlines differ from borders in a few ways:

Position: Outlines don't take up space; they're drawn around the element, outside of any border.
Offset: Using the outline-offset property, you can set the space between an outline and the edge or border of an element.
Width: Borders can have varying widths on different sides, outlines have a uniform width.
Rounded Corners: Borders can have rounded corners using border-radius, while outlines generally cannot. -->
</body>
</html>
