<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Specificity & Cascading</title>
    <style>
        /* the specificity of universal selector is 0 */
        /* the specificity of element selector is 1 */
        h1{
            color: aquamarine;
        }
        /* the specificity of element & class selector is 1 + 10 = 11 */
        h1.yellow{
            color: yellow;
        }
        /* the specificity of class or attribute selector is 10 */
        .cred{
            color: red;
        }
        /* the specificity of class or attribute selector is 10 */
        .cpurple{
            color: purple;
        }
       /* the specificity is attribute selector is 10 */
        [data-x=a]{
            color: maroon;
        }
        /* the specificity of (element+class+class+attribute+pseudo)selector is 1 + 10 + 10 + 10 + 10 = 41 */
        a.roshanclass.rohanclass[href]:hover {
            color: blueviolet;
        }
        /* the specificity of id selector if 100 */
        /* the specificity of inline css is 1000 */
        /* in css prefrences top to bottom code */
        /* Order of specificity is - inline style > id selector > class or attribute selector > element selector > universal selector */
    </style>
</head>
<body>
    <div>
        <h1 class="yellow cred cpurple" data-x="a">CSS Specificity</h1>
    </div>

    <!-- THE CASCADING ALGORITHM -
     1)Position and order of appearance: the order in which your CSS rules appear.
     2)Specificity: an algorithm that determines which CSS selector has the strongest match.
     3)Origin: the order in which CSS appears and where it comes from, whether that is a browser style, CSS from a browser extension, or your authored CSS.
     4)Importance: some CSS rules are weighted more heavily than others, especially with the !important rule type. -->
</body>
</html>
